{% extends "index.html" %}

{% block title %}{{ config.title }} - 404{% endblock title %}

{% block navbar %}
{% for item in config.extra.zola386_menu %}
<li>
  <a href="{{ config.base_url }}/{{item.path}}"><span>{{ item.name }}</span></a>
</li>
{% endfor %}
{% endblock %}

{% block header %}
<div class="alert alert-error navmargin">
  <h1>404 - Sahifa topilmadi</h1>
</div>
{% endblock header %}

{% block main %}
<p>
  Siz so'rayotgan sahifa topilmadi.<br>
  Menyulardagi tugmalar yordamida qidirib ko'rishingiz mumkin.
</p>
<p>
  <a href="{{ config.base_url }}" class="btn btn-info" role="button">Asosiy</a>
  <a href="{{ config.base_url }}/categories" class="btn btn-info" role="button">Kategoriyalar</a>
  <a href="{{ config.base_url }}/tags" class="btn btn-info" role="button">Teglar</a>
</p>
</p>
{% endblock main %}